/* opensans-regular */
@font-face {
    font-family: "opensans-regular";
    src: url("../fonts/opensans-regular.eot");
    src: url("../fonts/opensans-regular.eot#iefix") format("embedded-opentype"),
    url("../fonts/opensans-regular.woff") format("woff"),
    url("../fonts/Opensans-Regular.ttf") format("truetype"),
    url("../fonts/opensans-regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* opensans-light */
@font-face {
    font-family: "opensans-light";
    src: url("../fonts/opensans-light.eot");
    src: url("../fonts/opensans-light.eot#iefix") format("embedded-opentype"),
    url("../fonts/opensans-light.woff") format("woff"),
    url("../fonts/Opensans-Light.ttf") format("truetype"),
    url("../fonts/opensans-light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* opensans-bold */
@font-face {
    font-family: "opensans-bold";
    src: url("../fonts/opensans-bold.eot");
    src: url("../fonts/opensans-bold.eot#iefix") format("embedded-opentype"),
    url("../fonts/opensans-bold.woff") format("woff"),
    url("../fonts/Opensans-Bold.ttf") format("truetype"),
    url("../fonts/opensans-bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* opensans-semibold */
@font-face {
    font-family: "opensans-semibold";
    src: url("../fonts/opensans-semibold.eot");
    src: url("../fonts/opensans-semibold.eot#iefix") format("embedded-opentype"),
    url("../fonts/opensans-semibold.woff") format("woff"),
    url("../fonts/Opensans-Semibold.ttf") format("truetype"),
    url("../fonts/opensans-semibold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* gotham-light */
@font-face {
    font-family: "gotham-light";
    src: url("../fonts/gotham-light.eot");
    src: url("../fonts/gotham-light.eot#iefix") format("embedded-opentype"),
    url("../fonts/gotham-light.woff") format("woff"),
    url("../fonts/gotham-light.ttf") format("truetype"),
    url("../fonts/gotham-light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* myriadpro-regular */
@font-face {
    font-family: "myriadpro-regular";
    src: url("../fonts/myriadpro-regular.eot");
    src: url("../fonts/myriadpro-regular.eot#iefix") format("embedded-opentype"),
    url("../fonts/myriadpro-regular.woff") format("woff"),
    url("../fonts/myriadpro-regular.ttf") format("truetype"),
    url("../fonts/myriadpro-regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@charset "utf-8";

/* ======================================================== 
            set up
======================================================== */

*{
    margin: 0;
    padding: 0;
    outline: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

img{
    border: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul,ol{ list-style: none; }

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "opensans-regular";
    font-size: 12px;
    background-color: #fff;
}

.img-responsive {
    display: inline;
    max-width: 100%;
    height: auto;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ======================================================== 
                        content
======================================================== */
header#header{
    padding-top: 0px;
    padding-bottom: 0px;
}

.hidden-xs {
    display: block !important;
}

.headerSocial .socialfollow {
    padding: 0px !important;
    text-align: right;
    margin: 0px auto !important;
    float: right;
}

.socialfollow a:first-of-type {
    margin-left: 0;
}

.headerSocial .socialfollow a {
    /*background-color: #62696B;*/
    /*border-radius: 0px;*/
    /*-webkit-border-radius: 0px;*/
    /*-moz-border-radius: 0px;*/
    /*display: inline-block;*/
    /*margin: 7px 5px 0;*/
    /*padding: 10px;*/
    /*text-decoration: none;*/
    /*transition: all 0.31s ease 0s;*/
    /*height: 40px;*/
    /*overflow: hidden;*/
}

.headerSocial .socialfollow i {
    color: #fff;
    font-size: 20px;
    opacity: 0.95;
    padding: 0px;
}

.Three-Dee {
    text-shadow: 1px 1px rgba(80,88,89,0.5),2px 2px rgba(80,88,89,0.5),3px 3px rgba(80,88,89,0.5),4px 4px rgba(80,88,89,0.5),5px 5px rgba(80,88,89,0.5),6px 6px rgba(80,88,89,0.5),7px 7px rgba(80,88,89,0.5),
    8px 8px rgba(80,88,89,0.5),9px 9px rgba(80,88,89,0.5),10px 10px rgba(80,88,89,0.5),11px 11px rgba(80,88,89,0.5),12px 12px rgba(80,88,89,0.5),13px 13px rgba(80,88,89,0.5),14px 14px rgba(80,88,89,0.5),15px 15px rgba(80,88,89,0.5),16px 16px rgba(80,88,89,0.5),17px 17px rgba(80,88,89,0.5),18px 18px rgba(80,88,89,0.5), 19px 19px rgba(80,88,89,0.5), 20px 20px rgba(80,88,89,0.5), 21px 21px rgba(80,88,89,0.5),22px 22px rgba(80,88,89,0.5),23px 23px rgba(80,88,89,0.5), 24px 24px rgba(80,88,89,0.5),
    25px 25px rgba(80,88,89,0.5),26px 26px rgba(80,88,89,0.5),27px 27px rgba(80,88,89,0.5), 28px 28px rgba(80,88,89,0.5),29px 29px rgba(80,88,89,0.5), 30px 30px rgba(80,88,89,0.5),31px 31px rgba(80,88,89,0.5), 32px 32px rgba(80,88,89,0.5),33px 33px rgba(80,88,89,0.5),34px 34px rgba(80,88,89,0.5),35px 35px rgba(80,88,89,0.5),36px 36px rgba(80,88,89,0.5),37px 37px rgba(80,88,89,0.5),38px 38px rgba(80,88,89,0.5);
}

.hidden-sm {
    display: block !important;
}

#search-form {
    float: right;
    margin: 0px auto 3px auto;
    margin-top: 15px;
}

#search-form form, #search-form input[type="text"], #search-form input[type="password"], #search-form input[type="email"], #search-form textarea, #search-form select {
    margin-bottom: 0;
    height: auto;
}
#search-form{
    position: relative;
}
#search-form .search-text-box {
    background-color: #fdfdfd;
    border:  1px solid #cccccc;
    width: 382px;
    box-shadow: none;
}
#search-form input[type=submit]{
    background: url(../images/search-icon.png) right center no-repeat;
    border: 1px solid transparent;
    overflow: hidden;
    text-indent: 999%;
    width: 25px;
    position: absolute;
    right: 10px;
    top: 7px;
    border-left: 1px solid #cccccc;
}

.top-banner {
    padding-top: 45px;
    padding-bottom: 60px;
    background: url(../images/banner.png) no-repeat center center;
    height: 303px;
    background-size: cover;
    border-bottom: 3px solid #00aeef;
}

.introduce {
    font-family: "opensans-light";
    font-size: 26px;
    margin-left: 15px;
    padding-top: 48px;
    padding-bottom: 30px;
    color: #0066b3;
    font-weight: 500;
}

.title-intro {
    font-size: 18px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    margin-bottom: 32px;
}

.title-intro img {
    padding-bottom: 5px;
    padding-right: 10px;
}

.title-intro a {
    color: #fff;
}

.title1-cus {
    background-color: #037daa;
    cursor: pointer;
}

.title1-cus:hover {
    background-color: #04b7fb;
}

.title2-cus {
    background-color: #0092c9;
    cursor: pointer;
}

.title2-cus:hover {
    background-color: #04baff;
}

.title3-cus {
    background-color: #02abea;
    cursor: pointer;
}

.title3-cus:hover {
    background-color: #37c7fd;
}

.col-custom1 .story-post {
    border: 1px solid #037daa;
    border-bottom: 6px solid #037daa;
}

.col-custom2 .story-post {
    border: 1px solid #0092c9;
    border-bottom: 6px solid #0092c9;
}

.col-custom3 .story-post {
    border: 1px solid #02abea;
    border-bottom: 6px solid #02abea;
}

.story-post {
    margin-right: 0px;
    margin-bottom: 40px;
    min-height: 400px;
    max-height: 400px;
    background: white;
}

.story-post a h3 {
    color: #666666;
    font-family: "opensans-bold";
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.story-post p {
    color: #666666;
    font-family: "opensans-light";
    font-size: 15px;
}

.story-content {
    position: relative;
    padding: 25px 14px 42px 14px;
    /*background-color: #fff;*/
}

.fa-caret-up {
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: -20px;
    left: 22px;
}

div.story-post:last-child {
    margin-bottom: 40px;
}

.fluid-width-video-wrapper,.fluid-width-video-wrapper iframe {
    width: 100%;
    height: 203px;
    border: none;
}

.news-post {
    border: 1px solid #0092c9;
    border-bottom: 6px solid #0092c9;
}

.video-post {
    border: 1px solid #02abea;
    border-bottom: 6px solid #02abea;
}

.help-content {
    background: #fff;
}

.help-content h3 {
    font-family: "opensans-light";
    font-size: 32px;
    color: #0066b3;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
}

.help-content .row {
    /*margin-right: 0;
    margin-left: 0;*/
}

.faqs-text {
    background-color: #02abea;
    text-align: center;
    padding: 20px 12px 0px 12px;
    min-height: 170px;
}

.faqs-text:hover {
    box-shadow: 10px 10px 5px #888888;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-info a {
    color: #fff;
    font-size: 14px;
}

.faqs-text p.name-bold {
    font-size: 16px;
    font-family: "opensans-bold";
    padding-top: 10px;
    margin-bottom: 15px;
}

.email-contact-cus{
    font-family: "gotham-light";
    color: #fff;
    padding-top: 25px;
    padding-bottom: 18px;
    margin-bottom: 30px;
    float: left;
}

.label-text h4 {
    font-size: 24px;
    padding-left: 47px;
}

.form-input-email input {
    font-size: 13px;
    background-color: #0090c5;
    height: 32px;
    border: none;
    /*width: 310px;*/
    padding-left: 15px;
    padding-right: 15px;
}

.form-input-email input::-webkit-input-placeholder{
    color: #fff;
}

.form-input-email button {
    font-size: 15px;
    text-transform: uppercase;
    height: 32px;
    background-color: #8dc63f;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
}

.form-input-email p {
    font-size: 15px;
    /* padding: 12px 0; */
    margin-bottom: 0px;
    margin-top: 10px;
}

.email-contact-cus {
    background-color: #02abea;
}

.label-text {
    text-align: center;
}

.form-input-email {
    padding: 0;
}

footer {
    background-color: #e9e9e9;
    border-top: 2px solid #d9d9d9;
    padding: 40px 0 35px;
}

/*TriLM - header nav*/
#nav{
    background: #8dc63f;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: relative;
}
#nav  ul > li{
    float: left;
    padding: 22px;
}
#nav  ul > li:hover,
#nav  ul > li.current-menu-item{
    background: #0092c9;
}

#nav  ul > li > a{
    color: white;
    font-size: 15.5px;
    text-transform: uppercase;
    font-family: "opensans-semibold";
}
#nav  ul > li:first-child{
    padding-left: 0px;
}
#nav  ul > li:last-child{
    padding-right: 0px;
}
#nav  .sub-menu-custom{
    background: #0092c9;
    position: absolute;
    width: 100%;
    padding: 10px;
    padding-top: 0px;
    border-top: 1px solid white;
    z-index: 999;
}
#nav .sub-menu-custom ul li{
    padding: 11px;
    margin: 0px;
    border-bottom: 1px dotted #585858;
    float: left;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

}
#nav .sub-menu-custom h3{
    font-family: "opensans-semibold";
    color: #0092c9;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
    position: relative;
}
#nav  .sub-menu-custom  h3:before{
    content: '';
    position: absolute;
    left: 0px;
    width: 30px;
    height: 3px;
    background: #0092c9;
    bottom: -2px;
}
#nav  .sub-menu-custom ul li{
    background: url("../images/sub-menu-arrow.png") left center no-repeat;
    padding-left: 15px;
}
#nav .sub-menu-custom ul li:last-child{
    border-bottom: 0px solid transparent;
}

#nav  .sub-menu-custom ul li:hover{
    background: url("../images/sub-menu-arrow-hover.png") left center no-repeat;

}
.sub-menu-custom h2{
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 16.5px;
    padding-bottom: 19.5px;
}


#nav  .sub-menu-custom ul li a{
    font-size: 13px;
    color: #585858;
    text-transform: none;
}

#nav  .sub-menu-custom ul li:hover a{
    color: #0092c9;
}
#nav  .sub-menu-custom h4{
    color: #037daa;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
}
#nav .sub-menu-custom p{
    color: #666666;
    font-size: 14px;
}
.sub-menu-custom .bg{
    background: white;
}
.sub-menu-custom{
    height: 0px;
    overflow: hidden;
    padding: 0px!important;
    /*-webkit-transition: all 0.2s, height 0.2s, background-color 0.2s, -webkit-transform 0.2s;*/
    /*transition: all 0.2s, height 0.2s, background-color 0.2s, transform 0.2s;*/
}
.sub-menu-custom.show{
    height: auto;
    display: block;
    padding: 10px!important;
}
/*TriLm-Footer style*/
footer div ul li{
    padding: 5px;
    margin: 2px;
}
footer div ul li a{
    color: #525252;
}
footer div ul li.current-menu-item {
    background: #8dc63f;
    color: white;
}
footer div ul li.current-menu-item a{
    color: white;
}

footer div ul li.current-menu-item a{
    color: white;
}

footer div:nth-child(2) ul li.current-menu-item{
    background: #1070b8;
}

.footer-contact-list{
    background: #f8f8f8;
    padding-top: 5px;
}

.footer-contact-list .icon{
    margin-left: 8px;
    width: 44px;
    float: left;
    margin-right: 12px;
    padding-top: 15px;
}

.footer-contact-list .desc{
    width: calc( 100% - 65px);
    float: left;
}

.social-list li{
    float: left
}

.footer-social{
    margin-left: 15px;
    margin-right: 15px;
}

.headerSocial-list li{
    float: left;
    margin-left: 5px;
}

.headerSocial-list li a{
    float: left;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 50%;
    padding-top: 4px;
    font-size: 9px;
    background: #9c9ea1;
}

.headerSocial-list li a i{
    font-size: 12px;

}

.headerSocial-list li:nth-child(1) a:hover {
    background: #48649f;
    transition: all 0.31s ease 0s;
}

.headerSocial-list li:nth-child(2) a:hover {
    background: #e12b28;
    transition: all 0.31s ease 0s;
}

.headerSocial-list li:nth-child(3) a:hover {
    background: #54a7eb;
    transition: all 0.31s ease 0s;
}

.headerSocial-list li:nth-child(4) a:hover {
    background: #0077b5;
    transition: all 0.31s ease 0s;
}
.qtranxs_language_chooser li,
.multilang-list li{
    float: left;
    margin-left: 5px;
}
.header-hot-line{
    color: #00aeef;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 3px;
}
div#header-top {
    margin-bottom: 0px;
    margin-top: 15px;
}

.multilang-list.left {
    border-left: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    padding-right: 10px;
    margin-right: 6px;
    margin-left: 10px;
    padding-left: 4px;
}
.email-text{
    font-size: 24px;
    /*margin-left: 65px;*/
    /*margin-right: 15px;*/
}

.form-input-email{
    /*margin-left: -15px;*/
    /*width: 462px;*/
}
/*TriLm-End Footer style*/

.story-post.video-post {
    margin-bottom: 70px !important;
}

.cpr-content {
    background-color: #0076a2;
}

.cpr {
    padding: 30px 0 15px;
}

.cpr h4 {
    font-size: 15px;
    color: #fff;
    /*font-family: "myriadpro-regular";*/
}

.social-list li a {
    float: left;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 50%;
    padding-top: 4px;
    font-size: 9px;
    background: #005170;
}

.social-list li:nth-child(1) a:hover, .social-list li:nth-child(2) a:hover,.social-list li:nth-child(3) a:hover, .social-list li:nth-child(4) a:hover  {
    background: #fff;
    transition: all 0.31s ease 0s;
}

.social-list li {
    float: left;
    margin-left: 5px;
}

.social-list i {
    color: #00719c;
    font-size: 17px;
    opacity: 1;
    padding: 1px 0px;
}

.footer-social p {
    float: left;
    font-size: 13px;
    color: #fff;
    font-family: "opensans-semibold";
    margin-right: 15px;
    padding-top: 5px;
}

.desc h4 {
    font-size: 13px;
    color: #1070b8;
    font-family: "opensans-semibold";
}

.desc p {
    font-size: 13px;
    color: #525252;
}

.widget-title {
    font-size: 13px;
    color: #1070b8;
    font-family: "opensans-semibold";
    text-transform: uppercase;
}

/* ---------------HEALTHCARE SERVICE---------- */
.healthcare-content {
    margin-top: 55px;
    background-color: #fff;
}

.sidebar-left {
    background-color: #0297cf;
    padding: 15px;
}

.sidebar-right {
    background-color: #0297cf;
    padding: 0 15px 10px;
}

.div-jquery {
    float: left;
    display: inline;
    width: 100%;
}

.div-jquery h4 {
    float: left;
    display: inline;
    width: 100%;
    cursor: pointer;
    height: 43px;
    line-height: 43px;
    /* border: 1px solid #fff; */
    positon: relative;
    overflow: hidden;
}

.div-jquery h4 i {
    float: right;
    display: inline;
    background: url("../images/arrow.png") 0 center no-repeat;
    width: 11px;
    height: 43px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.sb-submenu i.fa-angle-right {
    color: #fff;
    margin-right: 5px;
}

.div-jquery .sub-custom {
    float: left;
    display: none;
    width: 100%;
    padding: 0 0 0 20px;
}

.div-jquery:first-child .sub-custom{
    display: none;
}

.sidebar-left a {
    color: #fff;
    font-size: 17px;
}

.sb-menu li {
    width: 100%;
    float: left;
    border-bottom: 1px dotted #fff;
    line-height: 43px;
}

.sb-menu li:last-child {
    border-bottom: none;
}

.sb-submenu li {
    border: none !important;
}

.widgets-list a {
    color: #fff;
    font-size: 17px;
}

.widgets-custom li {
    width: 100%;
    float: left;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dotted #fff;
    padding-left: 30px;
}

.widgets-custom li:last-child {
    border-bottom: none;
}

li.widgets-find-doctor {
    background: url("../images/find-doctor.png") 0 center no-repeat;
}

li.widgets-request {
    background: url("../images/request.png") 0 center no-repeat;
}

li.widgets-build {
    background: url("../images/build.png") 0 center no-repeat;
}

li.widgets-location {
    background: url("../images/w-location.png") 0 center no-repeat;
}
.sub-page{
    background: url("../images/sub-pagebanner.jpg") left center no-repeat;
    background-size: cover;
    max-height: 200px;
}
.breadcrumb-custom li{
    float: left;
}
.breadcrumb-custom li a,
.breadcrumb-custom li,
.breadcrumb-custom li span
{
    color: white;
    font-size: 18.8px;
}
.breadcrumb-custom li a:hover{ color: #337ab7}
.breadcrumb-custom li:after{
    position:relative;
    float: left;
    content: ">";
    margin-left: 10px;
    margin-right: 10px;
}
.breadcrumb-custom li:first-child:after{
    display: none;
}
.page-title{
    color: white;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 21px;
}
.right-sidaber-adsbanner{
    margin-top: 20px;
}
.slider-title{
    font-size: 26px;
    color: #0066b3;
    margin-bottom: 18px;
    margin-top: -7px;
}
.col-custom1 .title-intro{
    margin-right: -15px;
    margin-left: 0px;
}

.col-custom3 .title-intro{
    margin-left: -15px;
    margin-right: 0px;

}

.doctor-item {
    border: 1px solid #0092c9;
    border-bottom: 6px solid #0092c9;
    position: relative;
    cursor: pointer;
}

.doctor-item:hover {
    box-shadow: 0px 0px 20px #888888;
}

.doctor-item:after{
    position: absolute;
    background: url("../images/doc-add-button.jpg") left center no-repeat;
    content: '';
    width: 47px;
    height: 42px;
    bottom: -6px;
    right: -1px;
}

.doctor-image {
    margin-bottom: 25px;
}
ul.doc-info{
    padding: 25px;
    padding-top: 0px;
}

.doctor-item li{ float: left; width: 100%}
li.doc-name{
    margin-bottom: 7px;
}
li.doc-name a {
    font-size: 16px;
    color: #0092c9;
    font-weight: bold;

}
li.doc-pos {
    color: #02abea;
    font-size: 15px;
    margin-bottom: 9px;
}
li.doc-info p {
    color: #666666;
    font-size: 15px;
    line-height: 19px;
}
.pagination{
    border-radius: 0px;
}
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.header-search{
    background: #02abea;
    padding: 8px;
    padding-left: 0px;
    padding-right: 10px;
}
.header-search-text {
    font-size: 19px;
    color: white;
    margin-top: 4px;
    font-family: 'opensans-regular';
}
.find-doc{
    position: relative;
}
.header-search-doctor button{
    position: absolute;
    right: 0px;
    background: none;
    border: none;
    color: white;
    top: 5px;
    right: 10px;
}
.header-search-doctor input[type=text]{
    border: 1px solid #00739e;
    background: #027fae;
    color: white;
    margin-bottom: 0px;
    width: 330px;
}
.find-doc .form-group{
    margin-bottom: 0px;
}

.header-search-icon {
    padding-left: 15px;
    padding-right: 15px;
    background: #0092c9;
    margin-top: -8px;
    margin-bottom: -8px;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    border-right: 1px solid #019ad3;
    margin-right: 20px;
}
.doctor-info{
    border: 1px solid #019ad3;
    border-bottom: 6px solid #019ad3;
    margin-left: 15px;
    margin-right: 15px;
    width: calc( 100% - 30px );
}
ul.doc-info-no-padding{
    padding: 0px;
    margin-top: 27px;
    margin-bottom: 27px;
    padding-right: 15px;
}
ul.doc-awards li{
    float: left;
    width: calc(100%-15px);
    font-size: 14px;
    color: #666666;
    margin-bottom: 2px;
    list-style: disc;
    list-style: inner;
    margin-left: 18px;
}
.list-search li{
    float: left;
    width: 100%;
    margin-bottom: 22px;
}
.list-search li h4 a{
    color: #313131;
    font-size: 16px;
    font-family: 'opensans-bold';
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.list-search li p{
    font-size: 14px;
    color: #313131;

}
.search-form-text{
    margin-left: 20px!important;
    margin-right: 22px;
}

.find-doc-search-form .form-group input
{
    width: 440px!important;
}
.search-type{
    background: #008ec3;
}
.search-type ul li{
    float: left;
    padding: 17px;
    text-align: center;
}
.search-type ul li a{
    font-size: 17.5px;
    color: white;
    font-family: 'opensans-light';
    padding-left: 2px;
    padding-right: 2px;
}
.search-type ul li.current a,
.search-type ul li a:hover{
    font-weight: bold;
    border-bottom: 4px solid #8dc63f;
    padding-bottom: 14px;
}
.header-search-doctor input[type=text]::-webkit-input-placeholder { color:white!important; }
.header-search-doctor input[type=text]::-moz-placeholder { color:white!important; } /* firefox 19+ */
.header-search-doctor input[type=text]:-ms-input-placeholder { color:white!important; } /* ie */
.header-search-doctor input[type=text]:-moz-placeholder { color:white!important; }

.top-health-img1 {
    border-top-right-radius: 33px;
    border-bottom-left-radius: 33px;
    margin-bottom: 20px;
}

.content-center h4 {
    color: #0066b3;
    font-size: 22px;
    margin-bottom: 18px;
    clear: both;
}

.content-center h3 {
    color: #0066b3;
    font-size: 26px;
    font-family: "opensans-light";
    margin-bottom: 25px;
}

.content-center p {
    color: #666666;
    font-size: 14px;
    margin-bottom: 37px;
    font-family: "opensans-light";
    /* text-align: justify; */
    line-height: 20px;
}
.content-ckeditor img,
.content-ckeditor p img
{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
}
.content-center img.top-health-img1,
.content-center img.service-thumb,
.content-center .view-more img,
.content-center .fb-like-share img
{
    margin-top: 0px;
    margin-bottom: 0px;
}
.content-center .view-more img{
    margin-top: 3px;
}
.content-center img.top-health-img1{
    margin-bottom: 20px;
}

.healthcare-img-left {
    padding: 0;
}

/*.healthcare-list-post {
    border: 1px solid #fff;
}*/

/*.healthcare-list-post:hover {
    border: 1px solid #02abea;
    text-shadow: 0px 0px rgba(80,88,89,0.5);
    background-color:rgba(160,205,224,0.3);
}*/

.healthcare-list-post a:hover h4 {
    color: #8dc63f;
}

.hr {
    font-family: "opensans-light";
    font-size: 14px;
    border-bottom: 1px dotted #e2e2e2;
    margin-bottom: 20px;
}

.content-center h5 {
    font-family: "opensans-bold";
    color: #666666;
    font-size: 15px;
    margin-bottom: 15px;
}

.content-center span {
    font-family: "opensans-bold";
    color: #666666;
    font-size: 14px;
}

.get-direct-link{
    float: left;
    text-align: center;
    width: 117px;
    height: 29px;
    line-height: 29px;
    background-color: #0297cf;
    border-radius: 3px;
}

.get-direct-link a {
    color: #fbfbfb;
    font-family: "opensans-light";
    font-size: 14px;
}
.video-content{
    max-height: 204px;
    overflow-y: hidden;
}
.thumbnail-image{
    width: 100%;
    height: 203px;
    overflow-y: hidden
}
.thumbnail-image{
    width: 100%;
    height: 202px;
    overflow-y: hidden;
}
.thumbnail-image  iframe{
    width: 100%;
    height: 206px;
}
.location-detail h3{
    color: #0066b3;
    font-size: 26px;
    margin-bottom: 17px;
    margin-top: -5px;
}
.location-detail p{
    color: #666666;
    font-size: 14px;
    margin-bottom: 19px;
}
.location-detail{
    border-bottom: 1px dotted #eaeaea;
}
.location-listing li h3,
.location-listing li h3 a,
.location-listing li
{
    font-size: 14px;
    color: #666666;
    font-family: "opensans-semibold";
}
.location-listing li h3,
.location-listing li h3 a{
    font-weight: bold;
    font-size: 15px;
}
.location-listing li{
    margin-bottom: 5px;
    float: left;
    width: 100%;
}
.location-listing li b,
.location-listing li p
{
    float: left;
}

.location-listing li b {
    font-family: "opensans-semibold";
}

.location-listing li p{
    margin-bottom: 0px;
    width: calc( 100% - 50px);
}
.location-listing li b{
    min-width: 42px;
}
.location-listing li h3{
    margin-top: 20px;
}
.location-listing > li{
    margin-bottom: 15px;
    border-bottom: 1px dotted #eaeaea;
    padding-bottom: 11px;
}
.location-listing > li  h3{
    margin-top: 2px;
    margin-bottom: 19px;
}
.location-listing{
    margin-top: 15px;
}
.location-listing > li:last-child{
    border-bottom: none;
    margin-bottom: 0px;
}
.location-listing .location-thumb{
    margin-bottom: 10px;
    float: left;
}
.location-listing li h3 a:hover{
    color: #0297cf;
}
.sidebar-left{
    margin-bottom: 20px;
}
.panel-title>a{
    font-size: 15px;
    color: #898989;
}
.panel-default{
    border: none;
    background: none;
}
.panel-default >.panel-heading {
    color: #333;
    background-color: white;
    border-color: transparent;
    padding-top: 7px;
    padding-bottom: 15px;
    padding-left: 0px;
}
.panel-group .panel-heading  h4{
    margin-bottom: 0px;
}
.panel-group .panel-heading h4 a.collapsed:before{
    background: url("../images/arrow-collapse.jpg") left center no-repeat;
    position: relative;
    float: left;
    width: 8px;
    height: 11px;
    content: '';
    top: 10px;
    margin-right: 10px;
}
.panel-group .panel-heading h4 a:before{
    background: url("../images/arrow-expand.jpg") left center no-repeat;
    position: relative;
    float: left;
    width: 12px;
    height: 7px;
    content: '';
    top: 13px;
    margin-right: 10px;
}
.panel-body{
    padding-left: 0px;
    padding-right: 0px;
}
h3.faq-item-title{
    font-size: 14px;
    color: #898989;
    font-weight: bold;
    margin-bottom: 15px;
}
.service-info li{
    list-style: disc;
}
.service-info-listing{
    width: calc( 100% - 215px);
    margin-right: 15px;
}
.service-info li {
    list-style: disc;
    float: left;
    margin-left: 15px;
    width: calc( 100% - 15px);
}
.service-info li p{
    margin-bottom: 15px;
}
.panel-group .panel-heading h4 a,
.panel-group .panel-heading h4 a.collapsed:hover,
.panel-title>a:hover{
    color: #0297cf;
    font-weight: bold;
    text-decoration: none!important;
}
.panel-group .panel-heading h4 a.collapsed{
    font-weight: normal;
    color: #898989;
}
.make-an-appointment-btn-content{
    margin-bottom: 15px;
    margin-right: 15px;
}
.make-an-appointment-btn{
    background: #8dc63f;
    border: 1px solid #8dc63f;
    color: white;
    font-size: 17px;
    position: relative;
}
.make-an-appointment-btn:before{
    content: '>';
    position: relative;
    margin-right: 10px;
}
.make-an-appointment-btn:hover{
    border: 1px solid transparent;
}

.pagination-r {
    text-align: right;
}

.pagination>li>a {
    font-family: "opensans-semibold";
    font-size: 14px;
}

.pagination-r .hr {
    border-top: 2px solid #e2e2e2;
    margin-bottom: -5px;
}

.date-time-list-post {
    margin-bottom: 10px;
}

.date-time-list-post span {
    text-align: left;
    float: left;
    font-family: arial;
    font-size: 11px;
}

.date-time-list-post h5 {
    text-align: left;
    float: left;
    font-family: "opensans-bold";
    font-size: 16px;
    color: #303030;
}

.date-time-list-post .fb-like-share {
    text-align: right;
    position: relative;
}

.fb-like-total {
    margin-right: 5px;
}

.fb-share-total {
    margin-right: 10px;
    padding-right: 35px;
}

.fb-like-share a i.fa-print {
    margin-right: 5px;
    font-size: 17px;
    color: #9e9e9e;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.fb-like-share a i.fa-envelope {
    font-size: 15px;
    color: #9e9e9e;
    position: absolute;
    bottom: 0;
    right: 0;
}

.healthcare-detail-img1 {
    border-top-right-radius: 33px;
    border-bottom-left-radius: 33px;
    margin-bottom: 20px;
    margin-top: -15px;
}

.video-custom{
    width: 100%;
    height: 340px;
    overflow-y: hidden;
    margin-top: -22px;
    margin-bottom: 45px;
}

.related-news .hr {
    border-top: 1px solid #e2e2e2;
    margin-bottom: -5px;
}

.related-news-list {
    clear: both;
    margin-top: 25px;
}

.related-news-list ul li a p {
    font-family: "opensans-regular";
    font-size: 13px;
    color: #303030;
    background: url("../images/healthcare/arrow-list.png") no-repeat 0px 5px;
    padding-left: 15px;
    margin-bottom: 0px;
}

.related-news-list ul li a:hover p {
    color: #02abea;
    font-weight: bold;
}

.related-news-list ul li span {
    margin-bottom: 25px;
    font-size: 11.5px;
    color: #999999;
    margin-left: 15px;
}

.related-news-list ul li {
    margin-bottom: 17px;
}

.related-news-list .list-l {
    margin-left: -15px;
}

.related-news-list .list-r {
    margin-left: 15px;
}

.view-more a p {
    font-family: "opensans-bold";
    color: #02abea;
    font-size: 13px;
    margin-right: 10px;
    float: left;
}

.view-more {
    margin-left: -15px;
}

.view-more a:hover p {
    color: #01688f;
}

.room-type {
    height: 65px;
    line-height: 63px;
    background-color: #5abbe8;
}

.room-type ul li {
    float: left;
    margin-right: 25px;
}

.room-type ul li a {
    text-transform: uppercase;
    font-size: 17px;
    /*font-family: "opensans-bold";*/
    color: #ffffff;
}

.room-type ul li a:hover {
    border-bottom: 2px solid #fff;
}

.bottom-btn {
    background-color: #fffff;
    text-align: center;
    height: 62px;
    padding-top: 9px;
}

.more-info {
    /*height: 165px;*/
    margin-left: -15px;
    padding-left: 0px;
    padding-right: 0px;
}

.more-info ul li {
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 3px;
    border-bottom: none;
    cursor: pointer;
}

.more-info ul li:last-child {
    border-bottom: 1px solid #fff;
}

.more-info ul li:hover {
    background: url("../images/arrow-r.png") no-repeat #11BCFD;
    background-position: top 10px right 20px;
}

.more-info ul li a {
    color: #fff;
    font-size: 17px;
    padding-left: 25px;
}

.dv1 {
    background: url("../images/arrow-r.png") no-repeat #00688F;
    background-position: top 10px right 20px;
}

.dv2 {
    background: url("../images/arrow-r.png") no-repeat #037DAA;
    background-position: top 10px right 20px;
}

.dv3 {
    background: url("../images/arrow-r.png") no-repeat #0092C9;
    background-position: top 10px right 20px;
}

.dv4 {
    background: url("../images/arrow-r.png") no-repeat #02ABEA;
    background-position: top 10px right 20px;
}

.margin-l15 {
    margin-left: 15px;
}

.headerlogo {

}
.pagination-r li a,
.pagination-r li span
{
    margin-top: 0px;
}

.pagination-r nav{
    border-top: 2px solid #e2e2e2;
    float: left;width: 100%;
}
.pagination-r .pagination{
    margin-top: 0px;
}
.pagination-r .pagination>li:last-child {

    margin-right: 0px;

}
div.hr{
    float: left;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}
.panel{
    box-shadow: none;
}

.step-wizard {
    background-color: #E6E6E6;
}

.thumbnail {
    padding: 0px; 
    border: none;
    border-radius: 0px; 
    margin-top: 50px;
}

.thumbnail ul li {
    position: relative;
}

.st-custom {
    position: absolute;
    top: 0;
    right: -30px;
    z-index: 2;
}

.make-step1 {
    background-color: #8DC63F;
    height: 60px;
    text-align: center;
}

.make-step2 {
    background-color: #0092C9;
    height: 60px;
    text-align: center;
}

.make-step3 {
    background-color: #007FAE;
    height: 60px;
    text-align: center;
}

.thumbnail h4 {
    font-size: 19px;
    color: #fff;
    font-family: "opensans-regular";
    height: 40px;
    line-height: 40px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #2bc5ff;
}

.nav-pills>li>a {
    border-radius: 0px;
}

.nav-pills>li.active>a {
    background: #8dc63f;
}

/*.nav-pills>li:nth-child(1)>a {
    background: url("../images/make_an_appointment/1.png") no-repeat #8dc63f;
}

.nav-pills>li:nth-child(2)>a {
    background: url("../images/make_an_appointment/2.png") no-repeat #0092c9;
}

.nav-pills>li:nth-child(3)>a {
    background: url("../images/make_an_appointment/3.png") no-repeat #007fae;
}*/

.label-left {
    text-align: right;
    padding-right: 10px;
    font-size: 16px;
    color: #666666;
    font-family: "opensans-regular";
    padding-left: 0;
    height: 36px;
    padding-top: 5px;
}

.appointment-info ul li input {
    height: 36px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    background-color: #f0f0f0;
}

.radio-option ul li input {
    margin-right: 10px;
}

.padding-right0 {
    padding-right: 0px;
}

.margin-right15 {
    padding-right: 50px;
}

.datepicker {
    padding-left: 0px;
    padding-right: 0;
}

.hour-cus {
    padding-left: 15px;
}

.radio span {
    font-size: 16px;
    color: #666666;
    font-family: "opensans-regular";
}

.radio input {
    height: auto !important;
}

.clear-both {
    clear: both;
}

textarea.symptom-text {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    background-color: #f0f0f0;
}

.btn-next-step {
    text-align: center;
    clear: both;
    margin-top: 25px;
    margin-bottom: 65px;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    line-height: 1.3333333;
    border-radius: 4px;
    width: 160px;
    height: 40px;
    background-color: #8dc63f;
    color: #fff;
    font-size: 17px;
    border: none;
}