/* opensans-regular */
@font-face {
  font-family: "opensans-regular";
  src: url("../fonts/opensans-regular.eot");
  src: url("../fonts/opensans-regular.eot#iefix") format("embedded-opentype"),
  url("../fonts/opensans-regular.woff") format("woff"),
  url("../fonts/Opensans-Regular.ttf") format("truetype"),
  url("../fonts/opensans-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* opensans-light */
@font-face {
  font-family: "opensans-light";
  src: url("../fonts/opensans-light.eot");
  src: url("../fonts/opensans-light.eot#iefix") format("embedded-opentype"),
  url("../fonts/opensans-light.woff") format("woff"),
  url("../fonts/Opensans-Light.ttf") format("truetype"),
  url("../fonts/opensans-light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* opensans-bold */
@font-face {
  font-family: "opensans-bold";
  src: url("../fonts/opensans-bold.eot");
  src: url("../fonts/opensans-bold.eot#iefix") format("embedded-opentype"),
  url("../fonts/opensans-bold.woff") format("woff"),
  url("../fonts/Opensans-Bold.ttf") format("truetype"),
  url("../fonts/opensans-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* gotham-light */
@font-face {
  font-family: "gotham-light";
  src: url("../fonts/gotham-light.eot");
  src: url("../fonts/gotham-light.eot#iefix") format("embedded-opentype"),
  url("../fonts/gotham-light.woff") format("woff"),
  url("../fonts/gotham-light.ttf") format("truetype"),
  url("../fonts/gotham-light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@charset "utf-8";

/* ======================================================== 
            set up
======================================================== */

*{
    margin: 0;
    padding: 0;
    outline: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

img{
    border: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul,ol{ list-style: none; }

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "opensans-regular";
    font-size: 12px;
    background-color: #fff;
}

.img-responsive {
    display: inline;
    max-width: 100%;
    height: auto;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ======================================================== 
                        content
======================================================== */
header#header {
    padding-top: 17px;
    padding-bottom: 17px;
}

.hidden-xs {
    display: block !important;
}

.headerSocial .socialfollow {
    padding: 0px !important;
    text-align: right;
    margin: 0px auto !important;
}

.socialfollow a:first-of-type {
    margin-left: 0;
}

.headerSocial .socialfollow a {
    background-color: #62696B;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    display: inline-block;
    margin: 7px 5px 0;
    padding: 10px;
    text-decoration: none;
    transition: all 0.31s ease 0s;
    height: 40px;
    overflow: hidden;
}

.headerSocial .socialfollow i {
    color: #fff;
    font-size: 20px;
    opacity: 0.95;
    padding: 0px;
}

.Three-Dee {
    text-shadow: 1px 1px rgba(80,88,89,0.5),2px 2px rgba(80,88,89,0.5),3px 3px rgba(80,88,89,0.5),4px 4px rgba(80,88,89,0.5),5px 5px rgba(80,88,89,0.5),6px 6px rgba(80,88,89,0.5),7px 7px rgba(80,88,89,0.5),
 8px 8px rgba(80,88,89,0.5),9px 9px rgba(80,88,89,0.5),10px 10px rgba(80,88,89,0.5),11px 11px rgba(80,88,89,0.5),12px 12px rgba(80,88,89,0.5),13px 13px rgba(80,88,89,0.5),14px 14px rgba(80,88,89,0.5),15px 15px rgba(80,88,89,0.5),16px 16px rgba(80,88,89,0.5),17px 17px rgba(80,88,89,0.5),18px 18px rgba(80,88,89,0.5), 19px 19px rgba(80,88,89,0.5), 20px 20px rgba(80,88,89,0.5), 21px 21px rgba(80,88,89,0.5),22px 22px rgba(80,88,89,0.5),23px 23px rgba(80,88,89,0.5), 24px 24px rgba(80,88,89,0.5), 
 25px 25px rgba(80,88,89,0.5),26px 26px rgba(80,88,89,0.5),27px 27px rgba(80,88,89,0.5), 28px 28px rgba(80,88,89,0.5),29px 29px rgba(80,88,89,0.5), 30px 30px rgba(80,88,89,0.5),31px 31px rgba(80,88,89,0.5), 32px 32px rgba(80,88,89,0.5),33px 33px rgba(80,88,89,0.5),34px 34px rgba(80,88,89,0.5),35px 35px rgba(80,88,89,0.5),36px 36px rgba(80,88,89,0.5),37px 37px rgba(80,88,89,0.5),38px 38px rgba(80,88,89,0.5);
}

.hidden-sm {
    display: block !important;
}

#search-form {
    float: right;
    margin: 0px auto 3px auto;
}

#search-form form, #search-form input[type="text"], #search-form input[type="password"], #search-form input[type="email"], #search-form textarea, #search-form select {
    margin-bottom: 0;
    height: auto;
}

#search-form .search-text-box {
    background-color: #fdfdfd;
    background-image: url(../images/search-icon.png);
    background-position: 12px 50%;
    background-repeat: no-repeat;
    border: 0 none;
    /*border-radius: 18px;*/
    color: transparent;
    cursor: text;
    font-size: 13px;
    color: #444;
    height: 35px;
    line-height: 18px;
    padding: 3px 5px 4px 30px;
    transition: all 0.3s ease-in-out 0s;
    border: 1px solid #d2d2d2;
    color: #333;
    box-shadow: 1px 1px 3px rgba(255,255,255,0.5), 1px 1px 3px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 1px 1px 3px rgba(255,255,255,0.5), 1px 1px 3px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 1px 1px 3px rgba(255,255,255,0.5), 1px 1px 3px rgba(0,0,0,0.1) inset;
    width: 190px;
}

.top-banner {
	padding-top: 45px;
    padding-bottom: 60px;
    background: url(../images/banner.png) no-repeat center center;
    height: 303px;
}

.introduce {
	font-family: "opensans-light";
	font-size: 26px;
	margin-left: 15px;
	padding-top: 48px;
	padding-bottom: 30px;
	color: #0066b3;
	font-weight: 500;
}

.title-intro {
	font-size: 18px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	margin-left: -15px;
    margin-right: -15px;
    position: relative;
    margin-bottom: 32px;
}

.title-intro img {
	padding-bottom: 5px;
	padding-right: 10px;
}

.title-intro a {
	color: #fff;
}

.title1-cus {
	background-color: #037daa;
}

.title2-cus {
	background-color: #0092c9;
}

.title3-cus {
	background-color: #02abea;
}

.story-post {
	margin-right: 0px;
	border: 1px solid #037daa;
	border-bottom: 6px solid #037daa;
	margin-bottom: 40px;
	max-height: 400px;
}

.story-post a h3 {
	color: #666666;
	font-family: "opensans-bold";
	font-size: 16px;
	line-height: 20px;
}

.story-post p {
	color: #666666;
	font-family: "opensans-light";
	font-size: 15px;
}

.story-content {
    position: relative;
    margin-top: -20px;
    padding: 25px 14px 42px 14px;
}

.fa-caret-up {
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: -1px;
    left: 22px;
}

div.story-post:last-child {
	margin-bottom: 70px;
}

.fluid-width-video-wrapper,.fluid-width-video-wrapper iframe {
	width: 100%;
	height: 203px;
	border: none;
}

.news-post {
	border: 1px solid #0092c9;
	border-bottom: 6px solid #0092c9;
}

.video-post {
	border: 1px solid #02abea;
	border-bottom: 6px solid #02abea;
}

.help-content {
    background: #fff;
}

.help-content h3 {
	font-family: "opensans-light";
	font-size: 32px;
	color: #0066b3;
	text-align: center;
	padding-top: 5px;
    padding-bottom: 30px;
}

.help-content .row {
	margin-right: 0;
    margin-left: 0;
}

.faqs-text {
	background-color: #02abea;
    text-align: center;
    padding: 20px 12px 10px 12px;
}

.contact-info {
	margin-bottom: 30px;
}

.contact-info a {
	color: #fff;
	font-size: 14px;
}

.faqs-text p.name-bold {
    font-size: 16px;
    font-family: "opensans-bold";
    padding-top: 10px;
    margin-bottom: 15px;
}

.email-contact-cus{
	font-family: "gotham-light";
	color: #fff;
	padding-top: 25px;
	padding-bottom: 22px;
	margin-bottom: 30px;
}

.label-text h4 {
	font-size: 24px;
}

.form-input-email input {
	font-size: 13px;
	background-color: #0090c5;
	height: 32px;
	border: none;
}

.form-input-email input::-webkit-input-placeholder{
	color: #fff;
}

.form-input-email button {
	font-size: 15px;
	text-transform: uppercase;
	height: 32px;
	background-color: #8dc63f;
	border: none;
}

.form-input-email p {
	font-size: 15px;
	padding: 12px 0;
}

.email-contact-cus {
	background-color: #02abea;
}

.label-text {
    text-align: center;
}

.form-input-email {
	padding: 0;
}

footer {
	background-color: #e9e9e9;
	height: 200px;
}

/*--------------------- Navigation -------------------*/
#nav-wrap {
    min-height: 41px;
}

.nav-wrap1 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-height: 41px;
    z-index: 10;
    max-width: inherit;
    box-shadow: 0 1px 1px #B5B5B5;
    background-color: #ccc;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-bottom: 0px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25), 0 -3px 0px 0 rgba(0, 0, 0, 0.09) inset;
    padding-bottom: 3px;
    z-index: 12;
    background-color: #8DC63F;
}

#menu-icon {
    display: none;
}

#nav {
    display: block !important;
}

.nav-wrap1 #nav>li {
    border-left: 1px solid #EFEFEF;
    border-right: 1px solid #DDDDDD;
}

.nav-wrap1 #nav > li, #nav > li > ul >li {
    border-top: #fff solid 3px;
}

.nav-wrap1 #nav > li > a {
    font-weight: bold;
    border-top: 3px solid #fff;
    text-transform: uppercase;
}

#nav a {
    display: block;
    font-family: Arial;
    font-size: 12px;
    line-height: 13px;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.9);
    padding: 15px 32px 19px 16px;
    color: #5a5d62;
    outline: 0;
    text-decoration: none;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    -ms-transition: color .3s;
    transition: color .3s;
    position: relative;
}

.nav-wrap1 #nav > li > a:after {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    content: "\e3b5";
    color: inherit;
    font-size: 12px;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 15px;
    right: 10px;
}

#nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 9;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    position: absolute;
    width: 182px;
    background: #fff;
    z-index: 91000;
    display: none;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
    -o-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
    box-shadow: 0 2px 2px rgba(0,0,0,0.05);
    border: 1px solid #CCCCCC;
    border-top: 3px solid #2376DE;
}

#nav ul li a {
    display: block;
    width: 100%;
    font-size: 13px;
    padding: 10px;
    font-family: 'Open Sans',sans-serif;
}