/* ======================================================== 
						320 - 480
======================================================== */

@media (min-width: 320px) and (max-width: 767px) {

}

/* ======================================================== 
						480 - 767
======================================================== */

@media (min-width: 480px) and (max-width: 767px) {

}

/* ======================================================== 
						ipad doc
======================================================== */

@media (min-width: 768px) and (max-width: 1023px) {

}

/* ======================================================== 
						ipad ngang
======================================================== */

@media only screen and (min-device-width: 768px) and (max-device-width: 1324px) {

}