@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/montserrat-regular.eot");
    src: url("../fonts/montserrat-regular.eot#iefix") format("embedded-opentype"),
    url("../fonts/montserrat-regular.woff") format("woff"),
    url("../fonts/montserrat-regular.ttf") format("truetype"),
    url("../fonts/montserrat-regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@charset "utf-8";
/* CSS Document */

/* ======================================================== 
                        set up
======================================================== */

*{
    margin: 0;
    padding: 0;
    outline: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

img{
    border: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul,ol{ list-style: none; }

html, body{
    margin: 0px;
    padding: 0px;
    font-family: "montserrat-regular";
    font-size: 12px;
}

table, td, th{
    border:1px solid black;
}

.clearAll{ 
    clear: both; 
    font-size: 0px; 
    width: 0px; 
    height: 0px; 
}

.center{ 
    text-align: center; 
}

.img-responsive {
    display: inline;
    max-width: 100%;
    height: auto;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.container{
    width: 1172px;
    margin: 0 auto;
}

/* ======================================================== 
                        content
======================================================== */

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    /*background: #efefef; 
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    border-radius: 10px;*/
    padding: 0 20px;  
    list-style: none;
    position: relative;
    display: inline-table;
}
nav ul:after {
    content: ""; clear: both; display: block;
}

nav ul li {
    float: left;
}
nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block; padding: 25px 40px;
    color: #757575; text-decoration: none;
}

nav ul ul {
    background: #5f6975; 
    border-radius: 0px; 
    padding: 0;
    position: absolute; 
    top: 100%;
    width: 100%;
    left: 0;
}

nav ul ul li {
    float: left; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
    width: 100%;
}

nav ul ul li a {
    padding: 15px 40px;
    color: #fff;
}  

nav ul ul li a:hover {
    background: #4b545f;
}

/*nav ul ul ul {
    position: absolute; left: 100%; top:0;
}*/

.sb-navbar-menu li {
    padding: 5px !important;
}