/**
Author: TriLm
**/

.h1, .h2, .h3, h4, h5, h6, h1, h2, h3, ol, ul{
    margin: 0px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.full-width{
    width: 100%;
}
.position-relative{
    position: relative;
}
.bg-white{
    background: white;
}
.bg-gray{
    background: #eeeeee;
}
.margin-left-20{

}
.margin-left-40{
    margin-left: 58px!important;
}
.padding-top-35{
    padding-top: 35px;
}
.padding-bottom-35{
    padding-bottom: 35px;
}
.padding-bottom-6{
    padding-bottom: 16px;
}
.margin-left-75{
    margin-left: 61px;
}
.sub-width-200{
    width: 200px;
}
.padding-top-29{
    padding-top: 29px;
}
.font-25{
    font-size: 25px!important;
}
.padding-top-13{
    padding-top: 13px;
}
.padding-top-10{
    padding-top: 13px;
}
.padding-top-4{
    padding-top: 4px;
}
a{
    cursor: pointer;
}
a:hover,
.story-post a:hover  h3
{
    color: #0092c9;
}
.form-input-email button:hover{
    /*background-color: rgba(141, 198, 63, 0.6);*/
    box-shadow: 0px 0px 20px #888888;
    border: 1px solid #ffffff;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.border-bottom{
    padding-bottom: 63px;
    border-bottom: 1px solid #eeeeee;
    margin-left: 15px;
    margin-right: 15px;
    width: calc( 100% - 30px);
}
.pagination{
    margin: 4px 0;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 4px 6px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #666666;
    text-decoration: none;
    background-color: #e2e2e2;
    border: 1px solid #e2e2e2;
    font-weight: bold;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover,
.pagination>li>span
{
    z-index: 3;
    color: white;
    background-color: #0066b3;
    border-color: #0066b3;
}
.pagination>li {
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
    float: left;
}
.padding-bottom-34px{
    padding-bottom: 34px!important;
}
.font-17{
    font-size: 17px!important;
}
.margin-bottom-55{
    margin-bottom: 55px;
}
.list-style-none{
    list-style: none!important;
}
.panel-default{
    border-bottom: 1px dotted #c2c2c2!important;
}
.border-none{
    border: none!important;
    box-shadow: none!important;
}
.margin-bottom-15{
    margin-bottom: 15px!important;
}
.margin-bottom-10{
    margin-bottom: 10px!important;
}
.margin-bottom-30{
    margin-bottom: 30px!important;
}
.margin-top-52{
    margin-top: 52px!important;
}